:root {
  --main-color: #222264;
  --complementary-color: yellow;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-border-wrapper {
  border: 2px solid black;
  border-radius: 100%;
  background-color: white;
}

.content-wrapper {
  max-width: 1280px;
  margin: auto;
  padding-top: 66px;
}

.ab-header {
  justify-content: space-between;
  padding: 8px;
  background-color: var(--main-color);
  position: fixed;
  height: 66px;
  width: 100%;
}
.ab-header_page-icon {
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.ab-header_logo-text {
  color: white;
  margin-left: 8px;
  line-height: 16px;
}
.ab-header_navigation ul {
  list-style: none;
}
.ab-header_navigation-item {
  padding: 0px 8px;
}
.ab-header_navigation-link {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.ab-index {
  background-color: var(--main-color);
}
.ab-index .content-wrapper{
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.ab-index_picture {
  overflow: hidden;
  height: 200px;
  width: 200px;
}
.ab-index_picture > img:nth-child(1) {
  margin: auto;
  margin-left: -20px;
}
.ab-index_introduce {
  color: white;
  text-align: center;
}
.ab-index_introduce h1 {
  font-size: 4rem;
}
.ab-index_introduce h2 {
  font-size: 3rem;
}

.ab-about {
  display: flex;
  flex-wrap: wrap;
}
.ab-about_picture {
  text-align: center;
  flex: 1;
  padding: 0px 10px;
}
.ab-about_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0px 10px;
}
.ab-about_title {
  font-size: 2.5rem;
  margin: 20px 0px;
}
