# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies
node_modules
.pnpm-store

# build output
dist
dist-ssr
*.local

# vite
.vite

# testing / coverage
coverage

# env
.env
.env.*.local
